@import "https://fonts.googleapis.com/css?family=Raleway:900,800,700,600,400,300,200,100";
@import "https://fonts.googleapis.com/css?family=Josefin+Sans:700,600,400";
@import "https://fonts.googleapis.com/css?family=Lora:400,700|Roboto+Slab:400,700&display=swap";

/* Global Settings */

    html {
        /*for smooth scrolling, when redirected to different parts of the page via ie: a button*/
        scroll-behavior: smooth;
        width: 100%;
        overflow-x: hidden;
    }

    body{
        height:100%;
        overflow-y:scroll;
    }

    body::-webkit-scrollbar {
        /* Invisible Scrollbar */
        display: none;
    }

    /* General Utility */

    .break-when {
        display: none!important;
    }

    /* Text */

    .page-header{
        /* Section titles */
        border:none;
        margin:80px 0 40px
    }

    .page-header:after{
        /* Section title orange underline */
        content:"";
        display:block;
        position:relative;
        height:3px;
        width:113px;
        background-color:#FEB574;
        margin:0 auto
    }

    h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
        font-family:raleway,sans-serif;
        text-transform:uppercase;
        color:#4b4741;
        text-align:center;
        font-weight:800;
    }

    .small,small{
        /* Section title descriptions */
        font-family:josefin sans,sans-serif;
        font-size: 60%;
        font-weight:400;
        color: #222;
        display:block!important;
        text-transform:none;
        text-align:center;
        margin:10px 0 15px
    }

    p{
        /* Paragraph content in sections */
        font-family:josefin sans,sans-serif;
        color:#999;
        font-size:22px;
    }

    a{
        /* Paragraph content in sections */
        font-family:josefin sans,sans-serif;
        color:#999;
        font-size:22px;
        text-decoration: none;
    }

    a:hover{
        /* Paragraph content in sections */
        color:#fff;
    }

    .white{
        color:#fff
    }
    
    .white .small,
    .white small{
        color:#eee
    }

    .start-of-page {
        padding-top: 5%;
    }

    .end-of-page {
        padding-bottom: 7%;
    }

    .loading-block {
        margin-top: 15%;
        margin-bottom: 100rem;
    }

    .loading-block .spinner-border {
        /* Loading Spinner */

        /* Dimensions */
        width: 4rem;
        height: 4rem;

        /* Thickness */
        font-size: 1.5rem;

        color: #666;
    }

    .loading-message {
        margin: 5rem 0;
        color: #555;
    }

/* Navigation Bar */

    .scrolled {
        /* Darkens the navbar when user scrolls down past home section */
        /* See use-case in: js/main.js */
        background-color: rgb(2 1 0 / 0.9) !important;
        transition: background-color 0.4s ease-in-out;
    }

    .navbar{
        background-color: rgb(2 1 0 / 0.3);
        transition: background-color 0.4s ease-in-out;
    }

    .navbar.linked-page{
        background-color: rgb(2 1 0 / 0.9);
        transition: background-color 0.4s ease-in-out;
    }

    .navbar-toggler {
        background: transparent;
        border: none;
    }

    .navbar-toggler i{
        font-size: 25px;
        width: 30px;
        height: 30px;
    }

    .navbar-toggler:focus{
        outline: none!important;
        box-shadow: none;
    }

    .navbar-brand {
        font-family:josefin sans,sans-serif;
        text-transform:uppercase;
        font-size: 25px;
        font-weight: lighter;
    }

    .nav-item {
        text-align: center;
    }

    .nav-link {
        margin: 0 1rem;
        color: #fff!important;
        font-family:josefin sans,sans-serif;
        text-transform:uppercase;
        font-size: 13px;
    }

    .nav-item.numero{
        font-size: 20px;
    }

    .nav-link:hover{
        color: #ff7700!important;
    }

    .dropdown-menu {
        margin-top: 0.9rem;
        background: transparent!important;
        background-color: rgb(2 1 0 / 0.9)!important;
        border-radius: 0;
        border: none;
    }

    .dropdown-item {
        color: #fff;
        font-size: 15px;
    }

    .dropdown-toggle::after {
        content: none;
    }

    .dropdown-toggled {
        text-align: center!important;
    }

    .dropdown-untoggled {
        text-align: left!important;
    }

/* Home Section */

    #carouselExampleIndicators{
        position: relative;
        height: 100vh;
        width:100%;
    }

    #carouselExampleIndicators .carousel-inner {
        position: relative;
        height: 100%;
        width: 100%;
        background: #000;
    }

    .home #carouselExampleIndicators .carousel-inner .carousel-item {
        position: relative;
        height: 100%;
        width: 100%;
        background: url('../img/home1.jpg');
        background-size: cover;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-position: center;
    }

    .home #carouselExampleIndicators .carousel-inner .carousel-item:nth-child(2) {
        position: relative;
        height: 100%;
        width: 100%;
        background: url('../img/home2.jpg');
        background-size: cover;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-position: center;
    }

    .home #carouselExampleIndicators .carousel-inner .carousel-item:nth-child(3) {
        position: relative;
        height: 100%;
        width: 100%;
        background: url('../img/home3.jpg');
        background-size: cover;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-position: center;
    }

    .home #carouselExampleIndicators .carousel-inner .carousel-item:nth-child(4) {
        position: relative;
        height: 100%;
        width: 100%;
        background: url('../img/home4.jpg');
        background-size: cover;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-position: center;
    }

    .home #carouselExampleIndicators .carousel-inner .carousel-item:nth-child(5) {
        position: relative;
        height: 100%;
        width: 100%;
        background: url('../img/home5.jpg');
        background-size: cover;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-position: center;
    }

/* Song Section */ 

    .songs .page-header h1{
        color: #ff7700;
    }

    .songs .youtube-recent {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .songs .soundcloud-recent {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .songs .page-header .youtube-red {
        color: #ff0000;
    }

    .songs .page-header.youtube-red:after{
        background-color:#FF6A6A;
        margin-bottom: 5%;
    }

/* About Section */

    .about{
        background: #111;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .about h1{
        font-family: Lora, serif;
        font-size: 50px;
        text-align: center;
    }

    .about .about-group-photo {
        text-align: center;
        margin-bottom: 3%;
    }

    .about .about-group-photo img{
        width:100%;
    }

    .about .description {
        margin: 0 auto;
        width: 100%;
    }

/* Profile Section */

    /* .artwork{
        position:relative;
        height:200vh;
        width:100%;
        background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ), 
                    url(../img/artwork1.jpg) 
                    no-repeat center center;
        filter: darken;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
    } */

    .profile {
        padding-top: 3%;
        position: relative;
        background: #040404;;
        padding-bottom: 3%;
    }

    .profile .container {
        margin-top: 5%;
        width: 60%;
    }

    #ProfilecarouselExampleIndicators{
        position: relative;
    }

    #ProfilecarouselExampleIndicators .carousel-inner {
        position: relative;
        width: 100%;
        background: #040404;;
    }

    .profile .profile-photo {
        text-align: center;
        margin-bottom: 10%;
    }

    .profile .profile-photo img{
        width:90%;
    }

    .profile .header {
        margin-left: 1rem;
    }

    .profile .header h1{
        text-align: left; 
        font-size: 60px;
    }

    .profile .header h2{
        text-align: left; 
        margin: 2rem 0;
        color: #444;
    }

    .profile .description {
        text-align: center;
    }

    .profile .description td {
        padding: 0.7rem 0;
    }

    .profile .description i{
        font-size: 2rem;
        margin-right: 1rem;
        color: #ff7700;
    }

    .profile .description i:hover{
        color: #FFC18C;
    }

    .profile .description .fab.fa-youtube {
        color: #ff0000;
    }

    .profile .description .fab.fa-youtube:hover {
        color: #ff8a8a;
    }

    .profile .description .fas.fa-at {
        color: #9FFFFF;
    }

    .profile .description .fab.fa-instagram {
        color: #FF88ED;
    }

    .profile .description .fab.fa-instagram:hover{
        color: #FFD1F8;
    }

    .profile .description .type {
        text-align: left;
    }

/* News Page */

    .news .page-header h1{
        color: #ff7700;
    }

    .news .card {
        margin: 1rem auto 0;
        float: none;
    }

/* Footer Section */

    .footer{
        position: relative;
        text-align:center;
        background-color:#000;
    }

    .footer p{
        padding: 2rem 0;
        color:#fff;
        font-size:12px;
        margin-bottom: 0;
    }

    .footer .footer-copyrights {
        text-align: right;
        margin-right: 2rem;
    }

    .footer .footer-email {
        text-align: left;
        margin-left: 2rem;
    }

    .footer .footer-social-icons {
        padding: 2rem 0;
    }

    .footer .footer-social-icons a{
        display: inline-block;
        text-align: center;
        padding: 0.4rem 0.5rem;
        text-decoration: none;
        color:#fff;
        border-radius: 2px;
        font-size:17px;
        width: 35px;
        height: 35px;
    }

    .footer .footer-social-icons a:hover{
        background: #f9c56a;
    }

/* Screen Size Optimization */

    @media(max-width: 1279px){
        /* Large tablet Dimensions ( < 1280px width)*/
        /* ie: iPad Pro */

        h1{
            font-size: 35px;
        }

        p{
            font-size: 20px;
        }

        a{
            font-size: 20px;
        }

        .loading-block {
            margin-top: 45%;
        }

        /* Navbar Section */
        .navbar{
            background-color: rgb(2 1 0 / 0.9);
        }

        .dropdown-menu {
            margin-top: 0.9rem;
            background: transparent!important;
            background-color: rgb(2 1 0 / 0)!important;
            border-radius: 0;
            border: none;
        }

        /* Songs Section */
        .songs .youtube-recent iframe {
            height: 300px;
        }

        .songs .soundcloud-recent iframe {
            height: 300px;
        }

        /* About Section */

        .about h1{
            text-align: left;
        }

        /* Profile Section */

        .profile .container {
            margin-top: 5%;
            width: 80%;
        }
        
        .profile .header {
            margin-left: 0;
        }
        
        .profile .description i{
            margin-right: 1rem;
        }

        .profile .description .type a{
            font-size: 25px;
        }

        .profile-mobile {
            margin-top: 20.2rem;
            margin-bottom: 20.2rem;
        }

        /* News Sction */
        .news .page-header{
            margin-top: 15rem;
        }

        .news .end-of-page{
            margin-bottom: 15rem;
        }
    }

    @media(max-width:768px){
        /* iPad dimensions */

        h1{
            font-size: 25px;
        }
        p{
            font-size: 15px;
        }

        /* Songs Section */
        .songs .youtube-recent iframe {
            height: 200px;
        }

        .songs .soundcloud-recent iframe {
            height: 200px;
        }

        /* About Section */

        .about h1{
            font-size: 25px;
            text-align: center;
        }
        .about p{
            font-size: 15px;
        }

        /* Profile Section */

        .profile .header h1{
            font-size: 40px;
        }

        .profile .header h2{
            text-align: left; 
            margin: 1rem 0;
            color: #444;
        }

        .profile .description i{
            font-size: 1.5rem;
        }

        .profile .description .type a{
            font-size: 20px;
        }

        /* News Sction */
        .news .page-header{
            margin-top: 10rem;
        }

        .news .end-of-page{
            margin-bottom: 10rem;
        }

    }

    @media(max-width: 540px) {
        /* Surface Duo Dimensions */

        /* Profile Sction */
        .profile-mobile {
            margin-top: 7rem;
            margin-bottom: 7rem;
        }

        /* News Sction */
        .news .page-header{
            margin-top: 6rem;
        }

        .news .end-of-page{
            margin-bottom: 5rem;
        }

        .news .card{
            margin: 2rem auto;
        }

        /* Footer Section */
        .footer .footer-email {
            text-align: center;
            margin: auto;
        }

        .footer .footer-copyrights {
            text-align: center;
            margin: auto;
        }
    }

    @media(max-width:480px){
        /* Phone dimensions */

        p {
            font-size: 14px;
        }

        .break-when {
            display: block !important;
        }

        .loading-block {
            margin-top: 50%;
        }

        /* Navbar Section */
        .navbar-brand {
            font-size: 20px;
        }

        /* Songs Section */
        .songs .youtube-recent iframe {
            height: 350px;
        }

        .songs .soundcloud-recent iframe {
            height: 350px;
        }

        /* About Section */
        .about{
            background: #111;
            padding-top: 15%;
        }

        .about h1{
            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-left: 0;
            text-align: center;
        }

        .about p{
            text-align:center;
        }

        /* Profile Section */

        .profile .profile-photo img{
            width:100%;
        }

        .profile .header h1{
            font-size: 30px;
            text-align: center;
        }

        .profile .header h2{
            font-size: 20px;
            text-align: center;
        }

        .profile .description i{
            font-size: 1.5rem;
        }

        .profile .description .type a{
            font-size: 17px;
        }

        /* Footer Section */

        .footer .footer-email p {
            font-size: 11px;
        }

        .footer .footer-copyrights p {
            font-size: 10px;
        }

        .footer .footer-social-icons {
            padding: 0 0;
        }
    }