@import "https://fonts.googleapis.com/css?family=Raleway:900,800,700,600,400,300,200,100";
@import "https://fonts.googleapis.com/css?family=Josefin+Sans:700,600,400";
@import "https://fonts.googleapis.com/css?family=Lora:400,700|Roboto+Slab:400,700&display=swap";

/* Global Settings */

    html {
        /*for smooth scrolling, when redirected to different parts of the page via ie: a button*/
        scroll-behavior: smooth;
    }

    body{
        height:100%;
        overflow-y:scroll;
    }

    body::-webkit-scrollbar {
        /* Invisible Scrollbar */
        display: none;
    }

    /* General Utility */

    .break-when {
        display: none!important;
    }

    /* Text */

    .page-header{
        /* Section titles */
        border:none;
        margin:80px 0 40px
    }

    .page-header:after{
        /* Section title orange underline */
        content:"";
        display:block;
        position:relative;
        height:3px;
        width:113px;
        background-color:#FEB574;
        margin:0 auto
    }

    h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
        font-family:raleway,sans-serif;
        text-transform:uppercase;
        color:#4b4741;
        text-align:center;
        font-weight:800
    }

    .small,small{
        /* Section title descriptions */
        font-family:josefin sans,sans-serif;
        font-size: 60%;
        font-weight:400;
        color: #222;
        display:block!important;
        text-transform:none;
        text-align:center;
        margin:10px 0 15px
    }

    p{
        /* Paragraph content in sections */
        font-family:josefin sans,sans-serif;
        color:#999;
        font-size:22px
    }

    .white{
        color:#fff
    }
    
    .white .small,
    .white small{
        color:#eee
    }

    .start-of-page {
        padding-top: 5%;
    }

    .end-of-page {
        padding-bottom: 7%;
    }

    .loading-block {
        margin-top: 15%;
        margin-bottom: 100rem;
    }

    .loading-block .spinner-border {
        /* Loading Spinner */

        /* Dimensions */
        width: 4rem;
        height: 4rem;

        /* Thickness */
        font-size: 1.5rem;

        color: #666;
    }

    .loading-message {
        margin: 5rem 0;
        color: #555;
    }

/* Navigation Bar */

    .scrolled {
        /* Darkens the navbar when user scrolls down past home section */
        /* See use-case in: js/main.js */
        background-color: rgb(2 1 0 / 0.9) !important;
        transition: background-color 0.4s ease-in-out;
    }

    .navbar{
        background-color: rgb(2 1 0 / 0.3);
        transition: background-color 0.4s ease-in-out;
    }

    .navbar.linked-page{
        background-color: rgb(2 1 0 / 0.9);
        transition: background-color 0.4s ease-in-out;
    }

    .navbar-toggler {
        background: transparent;
        border: none;
    }

    .navbar-toggler i{
        font-size: 25px;
        width: 30px;
        height: 30px;
    }

    .navbar-toggler:focus{
        outline: none!important;
        box-shadow: none;
    }

    .navbar-brand {
        font-family:josefin sans,sans-serif;
        text-transform:uppercase;
        font-size: 25px;
        font-weight: lighter;
    }

    .nav-item {
        text-align: center;
    }

    .nav-link {
        margin: 0 1rem;
        color: #fff!important;
        font-family:josefin sans,sans-serif;
        text-transform:uppercase;
        font-size: 13px;
    }

    .nav-item.numero{
        font-size: 20px;
    }

    .nav-link:hover{
        color: #ff7700!important;
    }

    .dropdown-menu {
        margin-top: 0.9rem;
        background: transparent!important;
        background-color: rgb(2 1 0 / 0.9)!important;
        border-radius: 0;
        border: none;
    }

    .dropdown-item {
        color: #fff;
    }

    .dropdown-toggle::after {
        content: none;
    }

    .dropdown-toggled {
        text-align: center;
    }

    .dropdown-untoggled {
        text-align: left;
    }

/* Home Section */

    #carouselExampleIndicators{
        position: relative;
        height: 100vh;
        width:100%;
    }

    #carouselExampleIndicators .carousel-inner {
        position: relative;
        height: 100%;
        width: 100%;
        background: #000;
    }

    #carouselExampleIndicators .carousel-inner .carousel-item {
        position: relative;
        height: 100%;
        width: 100%;
        background: url('../img/home1.jpg');
        background-size: cover;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-position: center;
    }

    #carouselExampleIndicators .carousel-inner .carousel-item:nth-child(2) {
        position: relative;
        height: 100%;
        width: 100%;
        background: url('../img/home2.jpg');
        background-size: cover;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-position: center;
    }

    #carouselExampleIndicators .carousel-inner .carousel-item:nth-child(3) {
        position: relative;
        height: 100%;
        width: 100%;
        background: url('../img/home3.jpg');
        background-size: cover;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-position: center;
    }

    #carouselExampleIndicators .carousel-inner .carousel-item:nth-child(4) {
        position: relative;
        height: 100%;
        width: 100%;
        background: url('../img/home4.jpg');
        background-size: cover;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-position: center;
    }

    #carouselExampleIndicators .carousel-inner .carousel-item:nth-child(5) {
        position: relative;
        height: 100%;
        width: 100%;
        background: url('../img/home5.jpg');
        background-size: cover;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-position: center;
    }

/* Song Section */ 

    .songs .page-header h1{
        color: #ff7700;
    }

    .songs .youtube-recent {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .songs .soundcloud-recent {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .songs .page-header .youtube-red {
        color: #ff0000;
    }

    .songs .page-header.youtube-red:after{
        background-color:#FF6A6A;
        margin-bottom: 5%;
    }

/* About Section */

    .about{
        background: #111;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .about h1{
        font-family: Lora, serif;
        font-size: 50px;
        text-align: left;
        padding-left: 1rem;
    }

    .about .about-group-photo {
        text-align: center;
        margin-bottom: 3%;
    }

    .about .about-group-photo img{
        width:75%;
    }

    .about .description {
        margin: 0 auto;
        width: 75%;
    }

/* Artwork Section */

    .artwork{
        position:relative;
        height:200vh;
        width:100%;
        background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ), 
                    url(../img/artwork1.jpg) 
                    no-repeat center center;
        filter: darken;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
    }

/* Footer Section */

    .footer{
        text-align:center;
        background-color:#000;
    }

    .footer .footer-copyrights p{
        padding:30px 0;
        color:#b5b5b4;
        font-size:16px;
        margin-bottom: 0;
    }

/* Screen Size Optimization */

    @media(max-width: 1279px){
        /* Large tablet Dimensions ( < 1280px width)*/
        /* ie: iPad Pro */

        .loading-block {
            margin-top: 45%;
        }

        /* Navbar Section */
        .navbar{
            background-color: rgb(2 1 0 / 0.9);
        }

        .dropdown-menu {
            margin-top: 0.9rem;
            background: transparent!important;
            background-color: rgb(2 1 0 / 0)!important;
            border-radius: 0;
            border: none;
        }

        /* Songs Section */
        .songs .youtube-recent iframe {
            height: 300px;
        }

        .songs .soundcloud-recent iframe {
            height: 300px;
        }

        /* About Section */
        .about h1{
            font-size: 35px;
        }

        .about p{
            font-size: 20px;
        }
        
    }

    @media(max-width:768px){
        /* iPad dimensions */

        /* Songs Section */
        .songs .youtube-recent iframe {
            height: 200px;
        }

        .songs .soundcloud-recent iframe {
            height: 200px;
        }

        /* About Section */
        .about h1{
            font-size: 25px;
        }
        .about p{
            font-size: 15px;
        }

        
    }

    @media(max-width:480px){
        /* Phone dimensions */

        .break-when {
            display: block !important;
        }

        .loading-block {
            margin-top: 50%;
        }

        /* Navbar Section */
        .navbar-brand {
            font-size: 20px;
        }

        /* Songs Section */
        .songs .youtube-recent iframe {
            height: 350px;
        }

        .songs .soundcloud-recent iframe {
            height: 350px;
        }

        /* About Section */
        .about{
            background: #111;
            padding-top: 15%;
        }

        .about h1{
            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-left: 0;
            text-align: center;
        }

        .about p{
            font-size: 14px;
            text-align:center;
        }
    }